/* img{
width: 200px;
height: 170px;
border: 10px;
}
a{
    color: aquamarine;
}
{
    background-color: burlywood; */
*{
    margin: 0;
    padding: 0;
}
h1{
    color: beige;
    text-align: center;
}
div{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
img{
    width: 200px;
}
.hobby{
    background-color: aquamarine;
    color: black;
   
}

a{
    text-decoration: none;
}
.work{
    background-color: coral;
    color: black;
}
.Friends{
    background-color: violet ;
    color: blue;
}
.socmedia{
    text-align: center;
    background-color: beige;
}
.logo{
    width: 20px;
    height: 20px;
}

